<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=status%></title>
  </head>
  <body>
    <%if(typeof data == 'boolean'){%>
    <p>{ messages: <%=message%> }</p>
    <%}else{%>
    <p>{ messages: <%=message%>, data: <%=data%> }</p>
    <%}%>
    <script>
      setTimeout(() => {
        window.location.replace("/");
      }, 7000);
    </script>
  </body>
</html>
