<div class="header-section">
  <div class="title">
    <a href="/"><img src="/public/assets/images/imgs_notfound.png" alt="<%= head_title %>" /></a>
    <a href="/"><h1><%= head_title %></h1></a>
  </div>
  <div class="user-section">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginUser" data-bs-whatever="@loginUser">masuk</button>
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#registerUser" data-bs-whatever="@registerUser">daftar</button>
  </div>
</div>
<div class="container-swiper">
  <div class="swiper verticalSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper perViewSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
          </div>
          <div id="swiper-button-next-edited" class="swiper-button-next"></div>
          <div id="swiper-button-prev-edited" class="swiper-button-prev"></div>
          <div id="swiper-pagination-edited" class="swiper-pagination"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper perViewSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
          </div>
          <div id="swiper-button-next-edited" class="swiper-button-next"></div>
          <div id="swiper-button-prev-edited" class="swiper-button-prev"></div>
          <div id="swiper-pagination-edited" class="swiper-pagination"></div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper perViewSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
            <div class="swiper-slide">
              <img src="/public/assets/images/imgs_notfound.png" alt="not found" />
            </div>
          </div>
          <div id="swiper-button-next-edited" class="swiper-button-next"></div>
          <div id="swiper-button-prev-edited" class="swiper-button-prev"></div>
          <div id="swiper-pagination-edited" class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div id="swiper-pagination-edited" class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
</div>
<div class="description" style="background: var(--dark)">
  <div class="title">
    <h1 style="color: var(--orange)">deskripsi</h1>
  </div>
  <div class="caption">
    <p><%=description%></p>
    <a href="#"><button class="btn btn-primary">tentang kami</button></a>
  </div>
</div>
