@import url('./font.css');
@import url('./swiper.css');
@import url('../vendor/swiper-10.3.1/swiper-bundle.min.css');
@import url('../vendor/bootstrap-5.3.2/css/bootstrap.min.css');
@import url('../vendor/fontawesome-free-6.5.1/css/all.min.css');
/* https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500 */

:root {
    --orange: #FB8500;
    --yellow: #FFB703;
    --dark: #023047;
    --blue: #219EBC;
    --sky: #8ECAE6;
    --text-color: whitesmoke;
}

* {
    font: 14px 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
}

#header_banner {
    background: var(--dark);
    padding-bottom: 5rem;
}

#header_banner>.header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header_banner>.description {
    padding: 3rem;
}

.description>.caption {
    padding: 2rem 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    color: var(--dark);
    border-radius: 1rem;
    text-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 204, 0.55);
}

.caption>p {
    padding: 1rem;
}

#nav_menu {
    color: var(--dark);
    bottom: 30px;
    position: relative;
    background-color: var(--sky);
    margin-left: 9rem;
    margin-right: 9rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

#nav_menu>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-transform: uppercase;
}

#nav_menu>ul>li {
    padding: 1rem 0rem;
    border-right: dotted 5px var(--orange);
}

#nav_menu>ul>li:hover {
    background-color: var(--blue);
    border-right: dotted 5px var(--yellow);
}

ul>li>a {
    text-transform: uppercase;
    padding: 1rem;
    font-family: var(--protest-riot-regular);
}

ul>li>a:hover {
    text-decoration: underline;
}

.title {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 2rem;
    width: fit-content;
}

.title img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.user-section {
    align-items: center;
    grid-gap: 10px;
    padding: 2rem;
    width: fit-content;
}

.container-swiper {
    height: 50vh;
}

.modal {
    color: var(--dark);
}

/* SEARCH BOX START */
.search-group {
    margin: 0 1rem;
}

.search-group form .inner-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 34px;
    overflow: hidden;
    height: 25px;
}

.search-group form .inner-form .input-field {
    height: 68px;
}

.search-group form .inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    min-width: fit-content;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
}

.search-group form .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px;
}

.search-group form .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px;
}

.search-group form .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px;
}

.search-group form .inner-form .input-field input:hover,
.search-group form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.search-group form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #d9f1e3;
}

.search-group form .inner-form .input-field.first-wrap input {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.search-group form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.search-group form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222;
}

.search-group form .inner-form .input-field.second-wrap {
    min-width: 80px;
}

.search-group form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #00ad5f;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.search-group form .inner-form .input-field.second-wrap .btn-search:hover {
    background: #009451;
}

.search-group form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.search-group form .info {
    font-size: 15px;
    color: #ccc;
    padding-left: 26px;
}

@media screen and (max-width: 992px) {
    .search-group form .inner-form .input-field {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .search-group form .inner-form .input-field.first-wrap .svg-wrapper {
        min-width: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
    }

    .search-group form .inner-form .input-field.first-wrap svg {
        width: 26px;
        height: 26px;
        fill: #222;
    }

    .search-group form .inner-form .input-field.second-wrap {
        min-width: 100px;
    }

    .search-group form .inner-form .input-field.second-wrap .btn-search {
        font-size: 13px;
    }
}

/* SEARCH BOX END */